@tailwind base;
@tailwind components;
@tailwind utilities;

.g-blue {
  background-image: linear-gradient(90deg, #6043E5 0%, #B16BF6 100%) !important
}

.g-gray {
  background: linear-gradient(161deg, #282828 0%, #000 100%) !important;
}

.g-silver {
  background-image: linear-gradient(90deg, #8E8E8E 0%, #FFF 51%, #8E8E8E 100%) !important
}
